多层索引

![](https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1622923042,1436271790&fm=26&gp=0.jpg)

In [1]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

1、隐藏式构造，最常见的方法是给DataFrame构造函数的index参数传递两个或更多的数组

In [3]:
s = Series(np.random.randint(0,150,size = 6), index = pd.MultiIndex.from_product([['A','B','C'],['期中','期末']]))

s

A  期中     12
   期末     10
B  期中    112
   期末      5
C  期中    110
   期末      8
dtype: int32

In [4]:
df = DataFrame(np.random.randint(0,150,size = (10, 3)),
               columns = ['Python', 'English', 'Math'],
              index = pd.MultiIndex.from_product([list('ABCDE'),['期中', '期末']]))

df

      Python  English  Math
A 期中      11      137   121
  期末      24       83    58
B 期中     124        9    97
  期末      55       12     0
C 期中      21       82    25
  期末      22       80   149
D 期中      29      129    14
  期末      54      108   149
E 期中     123      130   145
  期末      20        3    21

In [6]:
df = DataFrame(np.random.randint(0, 150, size = (20, 3)),
               columns = ['Python', 'English', 'Math'],
              index = pd.MultiIndex.from_product([
                  list('ABCDE'),['期中', '期末'],['模拟一', ' 模拟二']
                                                 ])
              )

df

           Python  English  Math
A 期中 模拟一       96       12    79
      模拟二       4       40   121
  期末 模拟一      147      121    31
      模拟二     139      147    92
B 期中 模拟一       93       26   120
      模拟二     119       73   122
  期末 模拟一       82       73    80
      模拟二     130       55    19
C 期中 模拟一       43      114    60
      模拟二      78      142     7
  期末 模拟一       43       94    52
      模拟二     121       94   138
D 期中 模拟一       88      142   144
      模拟二      93      143    79
  期末 模拟一      140       93    55
      模拟二     126       86   139
E 期中 模拟一       78       21   117
      模拟二      53       66    40
  期末 模拟一      137       40   119
      模拟二      94      125   124

In [7]:
df2 = DataFrame(np.random.randint(0, 150, size = (5,6)),
               columns = pd.MultiIndex.from_product([
                   ['Python', 'English', 'Math'],
                   ['期中', '期末']                   
               ]),
                index = list('ABCDE')
               )

In [8]:
df2

  Python      English      Math
      期中   期末      期中   期末   期中   期末
A    122  113       8   10   88  120
B    139    1     138   26   61   94
C    143   93      47  140  147   59
D      8  130      39  130   98    9
E    149    1      21  120  125  144

多层索引的DataFrame索引和切片，类似于之前的

In [9]:
df['Python']

A  期中  模拟一      96
        模拟二      4
   期末  模拟一     147
        模拟二    139
B  期中  模拟一      93
        模拟二    119
   期末  模拟一      82
        模拟二    130
C  期中  模拟一      43
        模拟二     78
   期末  模拟一      43
        模拟二    121
D  期中  模拟一      88
        模拟二     93
   期末  模拟一     140
        模拟二    126
E  期中  模拟一      78
        模拟二     53
   期末  模拟一     137
        模拟二     94
Name: Python, dtype: int32

In [10]:
df.Python

A  期中  模拟一      96
        模拟二      4
   期末  模拟一     147
        模拟二    139
B  期中  模拟一      93
        模拟二    119
   期末  模拟一      82
        模拟二    130
C  期中  模拟一      43
        模拟二     78
   期末  模拟一      43
        模拟二    121
D  期中  模拟一      88
        模拟二     93
   期末  模拟一     140
        模拟二    126
E  期中  模拟一      78
        模拟二     53
   期末  模拟一     137
        模拟二     94
Name: Python, dtype: int32

In [11]:
df.loc[['A', 'B']]

           Python  English  Math
A 期中 模拟一       96       12    79
      模拟二       4       40   121
  期末 模拟一      147      121    31
      模拟二     139      147    92
B 期中 模拟一       93       26   120
      模拟二     119       73   122
  期末 模拟一       82       73    80
      模拟二     130       55    19

In [13]:
df.iloc[0]

Python     96
English    12
Math       79
Name: (A, 期中, 模拟一), dtype: int32

In [14]:
df.loc['A':'C']

           Python  English  Math
A 期中 模拟一       96       12    79
      模拟二       4       40   121
  期末 模拟一      147      121    31
      模拟二     139      147    92
B 期中 模拟一       93       26   120
      模拟二     119       73   122
  期末 模拟一       82       73    80
      模拟二     130       55    19
C 期中 模拟一       43      114    60
      模拟二      78      142     7
  期末 模拟一       43       94    52
      模拟二     121       94   138

In [15]:
df.iloc[0:4]

           Python  English  Math
A 期中 模拟一       96       12    79
      模拟二       4       40   121
  期末 模拟一      147      121    31
      模拟二     139      147    92

元素索引有些许区别

In [16]:
df.loc['A', '期中', '模拟一']['Python']

96

聚合操作也和之前的类似

In [17]:
df.mean()

Python     95.20
English    85.35
Math       86.90
dtype: float64

In [18]:
df.mean(axis = 0, level = 1)

    Python  English  Math
期中    74.5     77.9  88.9
期末   115.9     92.8  84.9

In [19]:
df.mean(axis = 0, level = 2)

      Python  English  Math
模拟一     94.7     73.6  85.7
 模拟二    95.7     97.1  88.1

索引的堆（stack）

In [22]:
# 行变成列
df.unstack(level = [1,2])

  Python                English                Math
      期中        期末           期中        期末        期中        期末
     模拟一  模拟二  模拟一  模拟二     模拟一  模拟二  模拟一  模拟二  模拟一  模拟二  模拟一  模拟二
A     96    4  147  139      12   40  121  147   79  121   31   92
B     93  119   82  130      26   73   73   55  120  122   80   19
C     43   78   43  121     114  142   94   94   60    7   52  138
D     88   93  140  126     142  143   93   86  144   79   55  139
E     78   53  137   94      21   66   40  125  117   40  119  124

可以利用unstack将多层的Series装换成DataFrame

数据分组处理








核心是gruopby()函数

In [23]:
df = DataFrame({
    'item': np.random.randint(0, 10, size = 100),
    'sailer': np.random.randint(0, 10, size = 100),
    'weight': np.random.randint(30, 300, size = 100),
    'price': np.random.randint(1, 20, size = 100)
})
df

    item  sailer  weight  price
0      4       9     254     15
1      5       0     180      9
2      9       1      97      8
3      0       4     284      1
4      9       1      78     14
5      7       2     249      4
6      1       3     287      8
7      3       4     161      4
8      8       6      52      2
9      1       8     243      2
10     0       2     129     15
11     7       6      87     17
12     2       7      82     16
13     9       8      88      8
14     1       0     232     16
15     4       7     171     12
16     9       3     265      4
17     9       7     229     18
18     6       9      72     19
19     6       2     138     13
20     5       6      39     19
21     7       3      63     15
22     7       9     141      5
23     2       2     109     15
24     6       4     109     14
25     5       4     105     10
26     5       2     266     19
27     2       5     162      2
28     8       0      81     17
29     4       5      36     14
..   ...     ...     ...    ...
70     8       0     107      8
71     3       8     136     18
72     4       5      82     18
73     6       1     196     16
74     9       3     209      1
75     3       9     202      2
76     7       5      66     11
77     7       9     123      9
78     7       3     198      3
79     8       3     115     10
80     3       7     186     10
81     0       9     146     14
82     7       7     284     12
83     5       9     284     18
84     3       5     200      8
85     5       8     158      7
86     5       8     144     16
87     5       6     102     12
88     8       3      78     18
89     5       1     268      6
90     8       4     236     13
91     0       5      81     14
92     9       7      82     16
93     2       4      72     16
94     2       4     241      7
95     6       3     269     13
96     7       1     187      2
97     2       4      72     16
98     4       1     117     14
99     8       0     258     18

[100 rows x 4 columns]

In [24]:
def convert_item(x):
    if x < 2 :
        return '萝卜'
    elif x < 7 :
        return '白菜'
    else :
        return '青椒'

df['item'] = df['item'].map(convert_item)

In [25]:
df

   item  sailer  weight  price
0    白菜       9     254     15
1    白菜       0     180      9
2    青椒       1      97      8
3    萝卜       4     284      1
4    青椒       1      78     14
5    青椒       2     249      4
6    萝卜       3     287      8
7    白菜       4     161      4
8    青椒       6      52      2
9    萝卜       8     243      2
10   萝卜       2     129     15
11   青椒       6      87     17
12   白菜       7      82     16
13   青椒       8      88      8
14   萝卜       0     232     16
15   白菜       7     171     12
16   青椒       3     265      4
17   青椒       7     229     18
18   白菜       9      72     19
19   白菜       2     138     13
20   白菜       6      39     19
21   青椒       3      63     15
22   青椒       9     141      5
23   白菜       2     109     15
24   白菜       4     109     14
25   白菜       4     105     10
26   白菜       2     266     19
27   白菜       5     162      2
28   青椒       0      81     17
29   白菜       5      36     14
..  ...     ...     ...    ...
70   青椒       0     107      8
71   白菜       8     136     18
72   白菜       5      82     18
73   白菜       1     196     16
74   青椒       3     209      1
75   白菜       9     202      2
76   青椒       5      66     11
77   青椒       9     123      9
78   青椒       3     198      3
79   青椒       3     115     10
80   白菜       7     186     10
81   萝卜       9     146     14
82   青椒       7     284     12
83   白菜       9     284     18
84   白菜       5     200      8
85   白菜       8     158      7
86   白菜       8     144     16
87   白菜       6     102     12
88   青椒       3      78     18
89   白菜       1     268      6
90   青椒       4     236     13
91   萝卜       5      81     14
92   青椒       7      82     16
93   白菜       4      72     16
94   白菜       4     241      7
95   白菜       3     269     13
96   青椒       1     187      2
97   白菜       4      72     16
98   白菜       1     117     14
99   青椒       0     258     18

[100 rows x 4 columns]

In [26]:
def convert_sailer(x):
    if x < 5:
        return '张大妈'
    elif x < 7:
        return '王大妈'
    else :
        return '于大爷'

df['sailer'] = df['sailer'].map(convert_sailer)

df

   item sailer  weight  price
0    白菜    于大爷     254     15
1    白菜    张大妈     180      9
2    青椒    张大妈      97      8
3    萝卜    张大妈     284      1
4    青椒    张大妈      78     14
5    青椒    张大妈     249      4
6    萝卜    张大妈     287      8
7    白菜    张大妈     161      4
8    青椒    王大妈      52      2
9    萝卜    于大爷     243      2
10   萝卜    张大妈     129     15
11   青椒    王大妈      87     17
12   白菜    于大爷      82     16
13   青椒    于大爷      88      8
14   萝卜    张大妈     232     16
15   白菜    于大爷     171     12
16   青椒    张大妈     265      4
17   青椒    于大爷     229     18
18   白菜    于大爷      72     19
19   白菜    张大妈     138     13
20   白菜    王大妈      39     19
21   青椒    张大妈      63     15
22   青椒    于大爷     141      5
23   白菜    张大妈     109     15
24   白菜    张大妈     109     14
25   白菜    张大妈     105     10
26   白菜    张大妈     266     19
27   白菜    王大妈     162      2
28   青椒    张大妈      81     17
29   白菜    王大妈      36     14
..  ...    ...     ...    ...
70   青椒    张大妈     107      8
71   白菜    于大爷     136     18
72   白菜    王大妈      82     18
73   白菜    张大妈     196     16
74   青椒    张大妈     209      1
75   白菜    于大爷     202      2
76   青椒    王大妈      66     11
77   青椒    于大爷     123      9
78   青椒    张大妈     198      3
79   青椒    张大妈     115     10
80   白菜    于大爷     186     10
81   萝卜    于大爷     146     14
82   青椒    于大爷     284     12
83   白菜    于大爷     284     18
84   白菜    王大妈     200      8
85   白菜    于大爷     158      7
86   白菜    于大爷     144     16
87   白菜    王大妈     102     12
88   青椒    张大妈      78     18
89   白菜    张大妈     268      6
90   青椒    张大妈     236     13
91   萝卜    王大妈      81     14
92   青椒    于大爷      82     16
93   白菜    张大妈      72     16
94   白菜    张大妈     241      7
95   白菜    张大妈     269     13
96   青椒    张大妈     187      2
97   白菜    张大妈      72     16
98   白菜    张大妈     117     14
99   青椒    张大妈     258     18

[100 rows x 4 columns]

In [28]:
def convert_weight(x):
    if x < 51 :
        return 50
    elif x < 150 :
        return 100
    else :
        return 200
    
df['weight'] = df['weight'].map(convert_weight)

df

   item sailer  weight  price
0    白菜    于大爷     200     15
1    白菜    张大妈     200      9
2    青椒    张大妈     100      8
3    萝卜    张大妈     200      1
4    青椒    张大妈     100     14
5    青椒    张大妈     200      4
6    萝卜    张大妈     200      8
7    白菜    张大妈     200      4
8    青椒    王大妈     100      2
9    萝卜    于大爷     200      2
10   萝卜    张大妈     100     15
11   青椒    王大妈     100     17
12   白菜    于大爷     100     16
13   青椒    于大爷     100      8
14   萝卜    张大妈     200     16
15   白菜    于大爷     200     12
16   青椒    张大妈     200      4
17   青椒    于大爷     200     18
18   白菜    于大爷     100     19
19   白菜    张大妈     100     13
20   白菜    王大妈      50     19
21   青椒    张大妈     100     15
22   青椒    于大爷     100      5
23   白菜    张大妈     100     15
24   白菜    张大妈     100     14
25   白菜    张大妈     100     10
26   白菜    张大妈     200     19
27   白菜    王大妈     200      2
28   青椒    张大妈     100     17
29   白菜    王大妈      50     14
..  ...    ...     ...    ...
70   青椒    张大妈     100      8
71   白菜    于大爷     100     18
72   白菜    王大妈     100     18
73   白菜    张大妈     200     16
74   青椒    张大妈     200      1
75   白菜    于大爷     200      2
76   青椒    王大妈     100     11
77   青椒    于大爷     100      9
78   青椒    张大妈     200      3
79   青椒    张大妈     100     10
80   白菜    于大爷     200     10
81   萝卜    于大爷     100     14
82   青椒    于大爷     200     12
83   白菜    于大爷     200     18
84   白菜    王大妈     200      8
85   白菜    于大爷     200      7
86   白菜    于大爷     100     16
87   白菜    王大妈     100     12
88   青椒    张大妈     100     18
89   白菜    张大妈     200      6
90   青椒    张大妈     200     13
91   萝卜    王大妈     100     14
92   青椒    于大爷     100     16
93   白菜    张大妈     100     16
94   白菜    张大妈     200      7
95   白菜    张大妈     200     13
96   青椒    张大妈     200      2
97   白菜    张大妈     100     16
98   白菜    张大妈     100     14
99   青椒    张大妈     200     18

[100 rows x 4 columns]

In [29]:
# 统计这一百天三位买菜员的销售总额
ret = df.groupby(['sailer'])['weight']
ret

In [30]:
# 分组后进行计算
ret.sum()

sailer
于大爷    4250
张大妈    7900
王大妈    2100
Name: weight, dtype: int64

In [31]:
ret.min()

sailer
于大爷    50
张大妈    50
王大妈    50
Name: weight, dtype: int64

In [32]:
ret.apply(np.sum)

sailer
于大爷    4250
张大妈    7900
王大妈    2100
Name: weight, dtype: int64

In [33]:
ret.count()

sailer
于大爷    28
张大妈    54
王大妈    18
Name: weight, dtype: int64

In [34]:
ret.apply(np.size)

sailer
于大爷    28
张大妈    54
王大妈    18
Name: weight, dtype: int64

In [35]:
g = df.groupby(['sailer', 'item'])

In [36]:
g.mean()

                 weight      price
sailer item
于大爷    白菜    164.285714  12.785714
       萝卜    130.000000   9.800000
       青椒    144.444444   9.111111
张大妈    白菜    146.428571  11.607143
       萝卜    166.666667   9.833333
       青椒    140.000000  10.500000
王大妈    白菜    115.000000   8.800000
       萝卜    137.500000   7.500000
       青椒    100.000000  11.000000

In [37]:
g.agg(['mean', 'sum'])

                 weight            price
                   mean   sum       mean  sum
sailer item
于大爷    白菜    164.285714  2300  12.785714  179
       萝卜    130.000000   650   9.800000   49
       青椒    144.444444  1300   9.111111   82
张大妈    白菜    146.428571  4100  11.607143  325
       萝卜    166.666667  1000   9.833333   59
       青椒    140.000000  2800  10.500000  210
王大妈    白菜    115.000000  1150   8.800000   88
       萝卜    137.500000   550   7.500000   30
       青椒    100.000000   400  11.000000   44

In [39]:
g.agg({'weight': 'sum', 'price': 'mean'}).round(2)

             weight  price
sailer item
于大爷    白菜      2300  12.79
       萝卜       650   9.80
       青椒      1300   9.11
张大妈    白菜      4100  11.61
       萝卜      1000   9.83
       青椒      2800  10.50
王大妈    白菜      1150   8.80
       萝卜       550   7.50
       青椒       400  11.00